@import "compass/css3";
@import "_animations";

.game {
	//border: 5px solid #FF00FF;//debug thing
	height: 380px;
	left: 0;
	position: absolute;
	//overflow: hidden;
	top: 0;
	width: 960px;
}

.world {
	height: 1000px;
	position: absolute;
	width: 5000px;
	z-index: -1;
}

.background {
	background: url("../images/background.png");
	position: absolute;
	height: 479px;
	width: 960px;
}

@import "_player";
@import "_platform";

.tempDebug {
	background-color: #FFFFFF;
	border: 1px solid #000000;
	left: 10px;
	padding: 5px;
	position: fixed;
	top: 10px;
	width: 240px;
}