@import "compass/css3";
@import "_animations";

html, body {
	margin: 0;
	padding: 0;
}

.game {
	background: url("../images/background.png") no-repeat scroll 0 bottom #FF0000;
	height: 800px;
	position: relative;
	overflow: hidden;
	width: 480px;
}

.world {
	height: 800px;
	position: absolute;
	width: 480px;
}

.score {
	color: #FFFFFF;
	display: none;
	font-weight: bold;
    padding: 5px;
    position: fixed;
    top: 0;
    
    div { margin-bottom: 5px; }
}

@import "_player";
@import "_platform";

.tempDebug {
	background-color: #FFFFFF;
	border: 1px solid #000000;
	left: 10px;
	padding: 5px;
	position: fixed;
	top: 10px;
	width: 240px;
}