@import "compass/css3";
@import "_animations";

html, body {
	margin: 0;
	padding: 0;
}

.game {
	background: url("../images/background.png") no-repeat scroll 0 bottom #FF0000;
	height: 800px;
	position: relative;
	overflow: hidden;
	width: 480px;
}

.startMenu {
	position: absolute;
	top: 100px;
	
	div {
		color: #FFFFFF;
		cursor: pointer;
		font-size: 36px;
		font-weight: bold;
		margin-bottom: 25px;
		text-align: center;
		width: 480px;
	}
	.version {
		color: #FFFFFF;
		position: absolute;
		top: -100px;
		right: 5px;
	}
	.title {
		color: #000000;
		font-size: 42px;
		margin-bottom: 50px;
	}
	.scores a {
		color: #FFFFFF;
		text-decoration: none;
	}
}

.gameOverMenu {
	display: none;
	position: absolute;
	top: 100px;
	
	div {
		color: #FFFFFF;
		font-size: 36px;
		font-weight: bold;
		margin-bottom: 25px;
		text-align: center;
		width: 480px;
	}
	.title {
		color: #000000;
		font-size: 42px;
	}
	.scores {
		font-size: 24px;
		font-weight: normal;
		table { margin: 0 auto; }
		.txtleft { text-align: left; }
		.txtcenter { text-align: center; }
		.txtright { text-align: right; }
	}
	.button { cursor: pointer; }
	.submitScore { display: none; }
	.newName {
		display: none;
		margin-bottom: 0;
		input {
			background-color: transparent;
			border: medium none;
			font-size: 36px;
			text-align: center;
			text-decoration: underline;
			width: 100%;
		}
	}
	.submit {
		display: none;
		margin-bottom: 50px;
	}
	
	
}

.world {
	height: 800px;
	position: absolute;
	width: 480px;
}

.score {
	color: #FFFFFF;
	display: none;
	font-weight: bold;
    padding: 5px;
    position: fixed;
    top: 0;
    
    div { margin-bottom: 5px; }
}
.fires {
	display: none;
	height: 256px;
	position: absolute;
	width: 100%;
	
	.fire {
		background: url("../images/fire.gif") repeat scroll 0 0 / 64px auto transparent;
		height: 64px;
		width: 100%;
		&.nr2 {
			background-position: 32px 0;
    		margin-top: -32px;
		}
		&.nr3 {
			margin-top: -32px;
		}
	}
}

@import "_player";
@import "_platform";

.tempDebug {
	background-color: #FFFFFF;
	border: 1px solid #000000;
	left: 10px;
	padding: 5px;
	position: fixed;
	top: 10px;
	width: 240px;
}